/* ~ 767px */

@media (max-width: 767px) {
  header {
    padding: 0px 16px 0px 16px;
    height:40px;
  }

  h1 {
    font-size:18px;
  }

  header ul > li {
    font-size:14px;
  }

  body {
    padding-top: 40px;
  }

  #main_section {
    height: 400px;
  }

  #img_section {
    height: 400px;
  }

  .container > img {
    height: 400px;
  }

  .container_text > p {
    padding: 0px 32px 0px 32px;
  }

  .overlay {
    height: 400px;
  }

  .Concept_group {
    padding: 60px 0px 80px 0px;
  }

  .Concept_image_container > img {
    padding: 0px 16px 0px 16px;
  }
/*
  .Concept_content > .Concept_group {
    padding-bottom: 80px;
  }
*/
  .single_concept {
    padding-bottom: 80px;
  }

  .Concept_text > p {
    font-size: 15px;
  }

  .Concept_text {
    padding: 0px 32px 40px 32px;
  }

  .up {
    right:32px;
  }

  .up img {
    width: 64px;
    height: 64px;
  }

  .arrow_back {
  	display: inherit;
    height: 115%;
  }

  .arrow_back img {
  	width: 11px;
  	height: 18px;
  }

}
