ul {
	list-style: none;
}

a {
	text-decoration: none;
	outline: none;
}

.page-head-container {
	width: 100%;
	margin:0 auto;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
	width:100%;
	height:56px;
	display: flex;
	align-items: center;
	justify-content: space-between;
  background-color: var(--Gray_30);
  padding: 0px 100px 0px 100px;
  z-index: 2;
}

header > h1 {
  font-size:20px;
}

header > nav {
	height:100%;
}

header ul {
	width:100%;
	height: 100%;
	display: flex;
	justify-content: space-between;
}

header ul > li {
	font-size:15px;
	height: 100%;
  padding-left: 32px;
	display: flex;
	align-items: center;
}

.up {
	position:fixed;
	right:48px;
	bottom:48px;
	z-index: 1;
}

.up span {
	display: block;
}

.up img {
	width: 80px;
	height: 80px;
}
