#AboutMe_HeadGrid {
  padding-top: 100px;
  padding-bottom: 100px;
  height: 700px;
}

.AboutMe_grid {
  padding: 64px;
  display:grid;
  justify-content: center;
  grid-template-columns: auto auto;
}

.AboutMe_grid_left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-right: 1px solid gray;
  padding-right: 64px;

}

.AboutMe_grid_right {
  padding-left: 64px;
}

.MiddleHead {
  background-image: url(../../Image/Head_image/middleHead_yellow.png);
  background-repeat: no-repeat;
  background-position:center;
  background-size: 180px 36px;
}

.MiddleHead > h2 {
  font-size: 36px;
}

.SmallHead {
  color: var(--Primary-Color-Point);
  flex-direction: row;
  align-items: center;
  padding: 8px 0px 8px 0px;
  text-align: left;
}

.History {
  text-align: left;
  padding-bottom: 16px;
}

.History_list {
  flex-direction: row;
  align-items: center;
  padding: 8px 0px 8px 0px;
  letter-spacing: -0.5px;
}

.History_list > p {
  display: inline-block;
  padding-right: 8px;
  line-height: 23px;
  font-size: 16px;
}

.date {
  width: 158px;
  font-weight: bold;
}

.Contact {
  text-align: left;
}

.Contact_list {
  flex-direction: row;
  align-items: center;
  padding: 8px 0px 8px 0px;
  letter-spacing: -0.5px;
}

.Contact_list > p {
  display: inline-block;
  padding-right: 8px;
  line-height: 23px;
  font-size: 16px;
}

.Contact_Category {
  width: 60px;
  font-weight: bold;
}

.Skill_lists {
  width: auto;
}

.Skill_list {
  flex-direction: row;
  align-items: center;
  padding: 8px 0px 8px 0px;
  letter-spacing: -0.5px;
  text-align: left;
}

.Skill_list > img {
  display: inline-block;
  vertical-align : middle;
  padding-right: 8px;
}

.Skill_list > p {
  display: inline-block;
  vertical-align : middle;
  font-weight: bold;
}
