/*.main-container {
  margin: auto;
  display: grid;
  gap: 0px;
}*/

.section {
  width: 100%;
  min-height: 700px;
  text-align: center;
  display: table;
}

.text {
  display: table-cell;
  vertical-align: middle;
}

#Home {
  background-image: url(https://img.freepik.com/free-vector/handmade-whte-paper-texture_125540-947.jpg?size=626&ext=jpg&ga=GA1.2.960598796.1624838400);
  background-repeat: no-repeat;
  background-position:center;
  background-size:cover;
}

.Home_text {
  font-size: 50px;
  line-height: 80px;
  background-image: url(../../Image/Head_image/pentexture.png);
  background-repeat: no-repeat;
  background-position:center;
  background-size: 447px 131px;
}

.Home_text_2 {
  display: flex;
  flex-direction: row;
	align-items: flex-end;
	justify-content: space-between;
  padding: 0px 100px 0px 100px;

  position: absolute;
  height: 700px;
  left: 0%;
  right: 0%;
  top: 0px;
}

.Home_text_2 > .RightText {
  text-align: right;
}

.Home_text_2 > .LeftText {
  text-align: left;
}

#choijieun {
  color: white;
  text-shadow: -1.2px 0 black, 0 1.2px black, 1.2px 0 black, 0 -1.2px black;
}
